@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,600,600i,700,700i,900,900i&subset=cyrillic');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
}

html,
body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 32px;
	line-height: 36px;
}

.hide {
	display: none !important;
	visibility: none !important;
	opacity: 0 !important;
}

.landscape,
.swipe {
	position: absolute;
	z-index: 100;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
}

.swipe {
	bottom: 2%;
	right: 2%;
	width: 60px;
}

.landscape {
	display: none;
	width: 100%;
	height: 100%;
	background-color: #fff;
}

.swipe img {
	width: 100%;
	opacity: .4;
}

.landscape img {
	position: absolute;
	top: 40%;
	left: calc(50% - 50px);
	width: 100px;
	heigh: auto;
	opacity: .6;
}

.card,
.card__item,
.card__content {
	width: 100%;
	height:100vh;
}

.card {
	background-image: url('../img/bg.jpg');
	background-size: cover;
}

.card__item {
	cursor: pointer;
}

.card__content {
	position: relative;

	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;

	-ms-align-items: center;
	align-items: center;
	justify-content: center;

	padding: 0 2%;
	overflow: hidden;
}

.card__content .title {
	font-size: 102px;
	line-height: 108px;
	font-weight: 900;
	color: #a00;
	text-align: center;
}

.card__content:last-of-type .logo {
	width: 350px;
	margin-top: 30px;
}

.card__content:last-of-type .logo img {
	width: 100%;
}

.card__content .speech {
	position: relative;
	border-left: 30px solid;
	border-bottom: 10px solid;
	border-radius: 50%;
	max-width: 400px;
	padding: 5% 3%;
	transform: rotate(-5deg);
	font-size: 34px;
	line-height: 38px;
	font-weight: bold;
	color: #fff;
	text-align: center;
}

.card__content .speech:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 50px solid transparent;
	border-bottom: 0;
	border-right: 0;
	margin-left: 20px;
	margin-bottom: -30px;
}

.card__content .speech.purple {
	background-color: #e5097f;
	border-color: #b41a63;
}

.card__content .speech.purple:after {
	border-top-color: #e5097f;
}

.card__content .speech.pink {
	background-color: #f28ebd;
	border-color: #e7609e;
}

.card__content .speech.pink:after {
	border-top-color: #f28ebd;
}

.card__content .speech.violet {
	background-color: #6a2e80;
	border-color: #4f275b;
}

.card__content .speech.violet:after {
	border-top-color: #6a2e80;
}

.card__content .speech.violet2 {
	background-color: #4f275b;
	border-color: #3f2349;
}

.card__content .speech.violet2:after {
	border-top-color: #4f275b;
}

.card__item:nth-of-type(2) .card__content,
.card__item:nth-of-type(3) .card__content,
.card__item:nth-of-type(4) .card__content,
.card__item:nth-of-type(5) .card__content {
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: flex-start;
}

.card__item:nth-of-type(2) .left,
.card__item:nth-of-type(2) .right,
.card__item:nth-of-type(3) .left,
.card__item:nth-of-type(3) .right,
.card__item:nth-of-type(4) .left,
.card__item:nth-of-type(4) .right,
.card__item:nth-of-type(5) .left,
.card__item:nth-of-type(5) .right {
	height: 100%;
	position: relative;
}

.card__item:nth-of-type(2) .left,
.card__item:nth-of-type(3) .left,
.card__item:nth-of-type(4) .left,
.card__item:nth-of-type(5) .left {
	width: 50%;
}

.card__item:nth-of-type(2) .right,
.card__item:nth-of-type(3) .right,
.card__item:nth-of-type(4) .right,
.card__item:nth-of-type(5) .right {
	width: 50%;
}

.card__item:nth-of-type(2) .speech,
.card__item:nth-of-type(3) .speech,
.card__item:nth-of-type(4) .speech,
.card__item:nth-of-type(5) .speech  {
	position: absolute;
	top: 5%;
	right: 5%;

	z-index: 5;
}

.card__item:nth-of-type(4) .speech,
.card__item:nth-of-type(5) .speech {
	top: 10%;
}

.card__item:nth-of-type(2) .caption,
.card__item:nth-of-type(3) .caption,
.card__item:nth-of-type(4) .caption,
.card__item:nth-of-type(5) .caption {
	position: absolute;
	bottom: 20px;
	right: 20px;
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	text-align: right;

	z-index: 10;
}

.card__content .cezar,
.card__content .janna,
.card__content .kutuzov,
.card__content .napoleon {
	margin-left: 5%;
	height: 100%;
}

.card__content .cezar img,
.card__content .janna img,
.card__content .kutuzov img,
.card__content .napoleon img {
	width: auto;
	height: 100%;
	padding-top: 5%;
}

.card__content .cezar img {
	padding-top: 0;
	padding-left: 5%;
}

.card__content .medal {
	width: 100%;
	height: 100%;

	background-image: url('../img/medal.png');
	-webkit-background-size: contain;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: top center;
}

@media (orientation: portrait) {
	.landscape {
		display: block;
	}

	.swipe,
	.card {
		display: none !important;
		visibility: hidden !important;
		opacity: 0 !important;
	}
}